#freeze-layer {
    position: fixed;
    z-index: 9999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-screen {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 999999999999999999999;
}

#loading-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#loading-box {
    margin: -65px 0 0 -160px;
    display: block;
    width: 300px;
    height: 110px;
    background: #fff;
    padding: 10px;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 60px;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 7px rgba(71, 71, 71, 0.25);
    text-align: center;
    color: #616161;
    font-style: italic;
}

#loading-box span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 10px;
}

.sub-sidebar-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);
    top: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #1A5780;
}

::-webkit-scrollbar-track {
    background-color: #1A5780;
}

::-webkit-scrollbar-thumb {
    background-color: #2980b9;
}

.sub-sidebar-wrapper ul li a {
    padding: 10px 10px 10px 15px;
    text-transform: capitalize;
}

.page-header h1 {
    text-transform: capitalize;
}

.sub-sidebar-wrapper ul li:hover a:before, .sub-sidebar-wrapper ul li.current a:before, .sub-sidebar-wrapper ul li.active a:before {
    content: "";
    display: none;
}

.sub-sidebar-wrapper ul {
    margin: 0px;
}

.sub-sidebar-wrapper ul li:hover > a, .sub-sidebar-wrapper ul li.current > a, .sub-sidebar-wrapper ul li.active > a, .sub-sidebar-wrapper .open > a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.has-sub > a:after {
    content: "";
    float: right;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    position: relative;
    top: 3px;
    text-transform: lowercase;
    background-image: url(../img/arrow-right.png);
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.3s all;
    -moz-transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

.open > a:after {
    content: "";
    background-image: url(../img/arrow-bottom.png);
}

.sub-sidebar-wrapper ul li:hover ul, .sub-sidebar-wrapper .open ul {
    background-color: rgba(0, 0, 0, 0.35);
}

.glossed .btn-primary:hover, .glossed .btn-primary:focus, .glossed .btn-primary:active, .glossed .btn-primary.active, .open .dropdown-toggle.glossed .btn-primary {
    background-image: none;
}

.btn, .sub-sidebar-wrapper a {
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

.form-horizontal .form-group {
    margin: 0;
    border-bottom: 1px solid #EAEAEA;
    padding: 5px 0;
}

.form-horizontal .form-group:last-child {
    border-bottom: 0px none;
}

.alert {
    font-size: 10pt !important;
    margin-bottom: 10px;
    text-align: center;
    line-height: 14pt;
}

.table-data {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.div-datatable {
    margin: 10px 0;
}

.col-ubah-data {
    padding: 5px 0;
    border-bottom: 1px solid #eff2f7;
}

.form-horizontal {
}

.form-group {
}

.form-control {
    height: 34px;
    padding: 4px 7px;
}

.input-sm {
    height: 30px !important;
}

.control-label {
    font-size: 14px;
    font-weight: normal;
    color: #2b2b2b;
}

.btn {
    padding: 6px 14px;
}

.btn-sm {
    padding: 5px 10px;
}

.btn-xs {
    padding: 3px 7px;
}

.green {
    color: #468847 !important;
}

.red {
    color: #b94a48 !important
}

.form-control-static {
    font-size: 14px;
}

.dataTables_wrapper {
    overflow-y: hidden;
    overflow-x: auto;
}

.center {
    text-align: center;
}

.fa-manage-btn {
    color: #fff;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.fa-manage-btn.green {
    background-color: #468847;
}

.fa-manage-btn.red {
    background-color: #b94a48;
}

.filter-manage * {
    display: none;
}

.rejected {
    text-decoration: line-through;
}

.rejected td, table tbody tr.rejected td {
    border: 1px solid #EDABAB !important;
    border-top: 1px solid #EDABAB !important;
    border-bottom: 1px solid #EDABAB !important;
    border-left: 1px solid #EDABAB !important;
    border-right: 1px solid #EDABAB !important;
    background-color: #FFECEC !important;
}

.modal-body {
    font-size: 14px;
}

.tab-content > .active, .pill-content > .active {
    display: block;
    overflow-y: auto;
    overflow-x: auto;
}

.dataTable {
    width: 100% !important;
}

th {
    text-align: center;
    color: #2A2A2A;
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: transparent;
    border: 1px solid #cecac4;
    border-bottom-color: #f4f4f4;
    cursor: default;
}

.nav-tabs > li > a {
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: bold;
}

.tab-content {
    margin: 0 0 10px 0;
}

.form-component {
    display: inline-block;
    border: 1px solid #cacaca;
    padding: 15px 10px 7px 10px;
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.form-component .form-title {
    display: inline-block;
    margin: 0;
    padding: 0px 5px;
    border: 0;
    background-color: #FCFCFC;
    position: absolute;
    top: -12px;
    text-transform: capitalize;
    font-weight: bold;
}

.my-upload-btn {
    display: inline-block !important;
    max-width: 80px;
    text-indent: 120%;
    overflow: hidden;
    position: relative;
    height: 26px;
}

.my-upload-btn:after {
    content: 'Choose File';
    display: block;
    position: absolute;
    left: calc(-120% + 24px);
    top: 3px;
}

.alert-warning {
    background-color: #F5EFC1;
    border-color: #d6b573;
    color: #6F4A0E;
    border-top: 1px solid #caa14c;
}

th {
    white-space: nowrap;
    vertical-align: middle !important;
}

.btn-approved-rejected {
    padding: 0 !important;
    height: 20px;
    width: 20px;
}

.btn-approved-rejected .fa {
    margin: 0 !important;
}

/*
.chosen-drop{
max-height: 130px !important;
}

.chosen-search, .chosen-results{
max-height: 70px !important;
}

.chosen-container-active .chosen-single{
background: none !important;
}
*/
a {
    cursor: pointer !important;
}

.modal-body .include-exclude-rejected-panel {
    display: none;
}

.radio input {
    margin-top: 2px;
}

.icon.icon-approved {
    background: #468847;
    font-size: 13px;
    line-height: 18px;
}

.icon.icon-rejected {
    background: #b94a48;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.icon {
    color: #fff;
    font-weight: bold;
    border-radius: 8.5px;
    width: 17px;
    height: 17px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    padding: 0;
    font-style: normal;
    cursor: default;
}

.icon.inactive {
    background: #474747;
}

.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.ui-pnotify-closer, .ui-pnotify-sticker {
    cursor: pointer;
}

.alert-danger a {
    color: #991E1C;
}

.nowrap {
    white-space: nowrap;
}

.input-group{
    width: 100%;
}

.input-group-addon {
    width: 60px;
    padding: 8px 0;
    text-align: center;
}

.help-block {
    margin: 3px 0 0 0;
    font-style: italic;
    color: #B5493B;
}

.profile-img {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #cacaca;
    margin: 0 0 5px 0;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

#ajax-loading {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
}

#ajax-loading #ajax-loading-box {
    display: block;
    width: 300px;
    height: 120px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 4px #cacaca;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin: -50px -150px;
}

#dropdown-peringatan li{
    padding: 5px 10px;
    font-weight: normal;
    font-size: 13px;
    border-bottom: 1px solid #545454;
    color: #fafafa;
}

#dropdown-peringatan li a{
    display: inline;
    padding: 0;
    font-weight: normal;
    color: #fff;
    font-size: 13px;
}

.center{
    text-align: center !important;
}

.bg-signature{

}

.on-off-switch{
    display: block;
    width: 40px;
    height: 20px;
    background-color: #cacaca;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

.on-off-switch.on::after{
    right: 2px;
}

.on-off-switch.off::after{
    left: 2px;
}

.on-off-switch.on{
    background-color: #3597da;
}

.on-off-switch::after{
    content: ' ';
    display: block;
    width: 16px;
    background-color: #fff;
    top: 2px;
    position: absolute;
    height: 16px;
    border-radius: 8px;

}

.form-import{

}

.form-import input[type=file]{
    display: inline-block;
    width: auto;
}

.form-import button[type=submit]{
    display: inline-block;
    width: auto;
}

.form-import .import-warning{
    color: #dc4a47;
    font-size: 12px;
    margin: 4px 0;
}

#confirm-button-action {
    text-align: right;
    margin: 10px 0 0 0;
}

#confirm-button-action .btn {
    margin: 0 0 0 5px;
}

.ov-x{
    overflow-x: auto;
}

.opt-check-times span{
    display: none;
}

.mb10{
    margin-bottom: 10px;
}

.chosen-container .chosen-results {
    max-height: 125px !important;
}