body#front{
background-image: url(../img/front/headerbg.png);
}

#main-bg{
background-image: url(../img/bg.jpeg);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
}

#front #main{
position: relative;
display: block;
margin: 10px auto;
min-height: 800px;
}

.front-main{
width: 95%;
margin: 0 auto;
max-width: 1155px;
}

#front #main-head{
background: url(../img/front/header-bg.png);
display: inline-block;
width: 100%;
background-color: rgba(0, 0, 0, 0.7);
}

#front #top-panel{
margin: 0 auto;
}

#top-panel #logo{
display: inline-block;
float: left;
}

#top-panel #logo img{
}

#top-panel #top-menu{
float: right;
margin: 18px 0 0 0;
}

#top-panel #top-menu a{
font-weight: bold;
}

#top-panel #top-menu .nav > li > a{
color: #fff;
border: 0 none;
border-radius: 4px;
transition: 0.3s all;
-webkit-transition: 0.3s all;
}

#top-panel #top-menu .nav li a{
transition: 0.2s all;
-webkit-transition: 0.2s all;
padding-top: 10px;
padding-bottom: 10px;
}

#top-menu .icon-bar{
background: #fff;
}

.heading-separator{
background-image: url(../img/front/heading-bg.png);
display: inline-block;
width: 100%;
height: 30px;
}

.background-1{
background-image: url(../img/front/content-bg1.jpg);
}

.background-2{
background-image: url(../img/front/content-bg2.jpg);
}

#slideshow-area{
width: 100%;
background-color: rgba(255, 255, 255, 0.5);
padding-top: 30%;
position: relative;
}

.front-element{
min-height: 100px;
padding: 10px 30px;
width: 100%;
display: inline-block;
float: left;
}

.front-title{
color: #373737;
font-weight: bold;
font-size: 24px;
}

h3.front-title{
color: #5C5050;
font-size: 21px;
}

.front-4-elemen{
text-align: center;
}

.front-4-elemen img{
}

.front-4-elemen .description{
}

.front-content{
}

.green{
color: #649300;
}

.front-inverse h3.front-title{
color: #fff;
}

.front-inverse li a{
color: #C7C7C7;
}

.front-inverse li a:hover{
color: #FFF;
text-decoration: underline;
}

.front-inner-element{
}

#main-footer{
background-image: url(../img/front/header-bg.png);
background-color: rgba(0, 0, 0, 0.7);
width: 100%;
min-height: 60px;
bottom: 0;
position: relative;
margin: 15px 0 0 0;
}

#main-inner{
display: inline-block;
width: 100%;
}

#inner-footer{
color: #fff;
line-height: 60px;
}

#inner-footer a{
color: #fff;
font-weight: bold;
}

#socmed-element{
text-align: right;
}

#socmed-element a{
width: 25px;
height: 25px;
background-color: #fff;
border-radius: 12.5px;
display: inline-block;
text-align: center;
color: #454545;
line-height: 25px;
margin: 0 2px;
}

.post-category{
display: block;
width: 100%;
margin: 5px 0 10px 0;
}

.post-category .image-thumbnail{
width: 75px;
height: 75px;
background-size: cover;
background-position: center center;
border: 4px solid #b8b3ae;
float: left;
margin: 0 10px 0 0;
}

.post-category .description{
display: inline-block;
float: left;
width: calc(100% - 93px);
overflow: hidden;
text-overflow: ellipsis;
}

.post-category .title{
color: #649300;
white-space: nowrap;
font-size: 14px;
}

.post-category .title:hover{
color: #81BA08;
text-decoration: underline;
}

.post-category .intro{
color: #F0F0F0;
display: block;
margin: 3px 0 0 0;
}

.post-category .heading-separator{
height: 6px;
}

.front-3-elemen{
}

.front-3-elemen .description{
line-height: 20px;
}

.front-3-elemen a:hover{
text-decoration: underline;
}

#top-menu ul > li > a:hover{
background-color: #88a755;
border-color: #88a755;
color: #FFFFFF;
}



#main-inner article{
background: #fff;
padding: 10px 20px;
position: relative;
z-index: 1;
}

#main-inner footer{
padding: 0 10px 20px 10px;
}

#entry-content:after{
content: "";
}

#main-side-menu{
padding: 10px 20px;
z-index: 1;
}

#main-side-menu ul{
}

#main-side-menu ul li{
}

#main-side-menu ul li a{
display: block;
padding: 5px 0;
border-bottom: 1px dashed;
position: relative;
}

#main-side-menu ul li a:hover, #main-side-menu ul li a.active{
color: #47a447;
}

#main-side-menu ul li a .fa{
position: absolute;
right: 10px;
top: 9px;
}

#main-side-menu h4{
margin: 5px 0;
color: #474747;
}

#main-side-menu .side-element{
display: inline-block;
width: 100%;
margin: 0 0 10px 0;
}

#bg-article{
background-color: #fff;
height: 100%;
position: absolute;
right: 0;
z-index: 0;
}

/* slideshow */
#main-slideshow{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

#main-slideshow .contentdiv{
padding: 0;
background-color: transparent;
width: calc(100% - 14px);
height: calc(100% - 14px);
margin: 7px;
background-size: cover;
background-position: center center;
}

#paginate-main-slideshow{
position: absolute;
left: 0;
right: 0;
width: 60%;
bottom: 10px;
float: none;
margin: auto;
z-index: 99;
}

#paginate-main-slideshow a{
background-color: #fff;
display: inline-block;
height: 5px;
margin: 0 4px;
transition: 0.3s all;
}

.slideshow-description{
background-image: url(../img/bg-kotak-hitam.png);
display: inline-block;
color: #fff;
padding: 15px 20px;
width: 65%;
position: absolute;
left: 0;
right: 0;
margin: auto;
bottom: 20px;
}

.slideshow-description h4{
color: #92EF3B;
font-weight: bold;
margin-bottom: 5px;
text-transform: capitalize;
text-shadow: 1px 1px 1px #2b2b2b;
}

/* end slideshow */

.sub-marker{
position: relative !important;
left: 0;
top: 0 !important;
}

#entry-content ul{
padding-left: 15px;
}

#entry-content ul li{
list-style: initial;
}

#entry-content .post-category .image-thumbnail{
border: 4px double #C8C8C8;
}

#entry-content .post-category .title {
font-weight: bold;
}

#entry-content .post-category .intro{
color: #474747;
}

#entry-content .post-category .post-date{
color: #8C8C8C;
font-style: italic;
font-size: 12px;
margin: 0 0 -3px 0;
}

#form-komentar{
}

#form-komentar textarea{
margin: 0 0 10px 0;
resize: vertical;
}

.list-komentar{
display: inline-block;
width: 100%;
border: 1px solid #DFDFDF;
margin: 0 0 10px 0;
padding: 5px;
border-radius: 4px;
background: #E8F7F5;
}

.list-komentar .meta{
border-bottom: 1px solid #DFDFDF;
margin: 2px 0;
padding: 0 0 2px 0;
}

.list-komentar .isi-komentar{
font-style: italic;
}

/* profil */
#profil-overview{
}

#profil-detail{
margin: 10px 0;
}

#foto-profil{
display: inline-block;
width: 85%;
border: 4px double #dadada;
border-radius: 4px;
background-size: cover;
position: relative;
margin: 10px 0 0 0;
background-repeat: no-repeat;
max-width: 200px;
}

#foto-profil:after{
content: "";
padding-top: 100%;
display: block;
}

#profil-detail ul{
padding: 0;
}

#profil-detail ul li a{
border: 1px solid #cacaca;
border-bottom: 0 none;
border-right: 0 none;
}

#profil-detail ul li:first-child a{
border-radius: 4px 0 0 0;
}

#profil-detail ul li:last-child a{
border-right: 1px solid #cacaca;
border-radius: 0 4px 0 0;
}

#profil-detail ul li.active a{
}

.overview-box{
padding: 0 20px 0 0;
}

.overview-box h3{
font-weight: normal;
margin: 10px 0;
padding: 0 0 5px 0;
}

.overview-box table{
width: 100%;
}

.overview-box table tr td{
padding: 2px 0;
border-bottom: 1px solid #ECECEC;
}


@media screen and (max-width: 720px){
#bg-article{display: none;}
}