/* my responsive */
.res-lg-1{
width: calc(1 / 12 * 100%);
}

.res-lg-2{
width: calc(2 / 12 * 100%);
}

.res-lg-3{
width: calc(3 / 12 * 100%);
}

.res-lg-4{
width: calc(4 / 12 * 100%);
}

.res-lg-5{
width: calc(5 / 12 * 100%);
}

.res-lg-6{
width: calc(6 / 12 * 100%);
}

.res-lg-7{
width: calc(7 / 12 * 100%);
}

.res-lg-8{
width: calc(8 / 12 * 100%);
}

.res-lg-9{
width: calc(9 / 12 * 100%);
}

.res-lg-10{
width: calc(10 / 12 * 100%);
}

.res-lg-11{
width: calc(11 / 12 * 100%);
}

.res-lg-12{
width: calc(12 / 12 * 100%);
}

.res{
float: left;
position: relative;
}

@media screen and (max-width: 720px){
.res-lg-1, .res-lg-2, .res-lg-3, .res-lg-4, .res-lg-5, .res-lg-6, .res-lg-7, .res-lg-8, .res-lg-9, .res-lg-10, .res-lg-11, .res-lg-12{
width: calc(100%);
}
}