.alert{
width: calc(100% - 20px);
margin: 5px auto;
font-size: 10pt;
font-style: italic;
}

.center{
text-align:center;
}

.form-control {
color: #252525;
}

.modal-body label {
font-size: 1.4em;
}

.table-numbered tr td:first-child, .table-numbered tr th:first-child{
text-align: center;
width: 50px;
}

.modal {
overflow-y: auto;
}

a{
cursor: pointer;
}

#overlay_wait{
transition : 0.3s;
position: fixed;
top: 0;
left: 0;
display: none;
width: 100%;
height: 100%;
background: url(../img/load.gif) no-repeat center center;
}

#sidebar {
z-index: 1;
}

.panel-body {
overflow-y: auto;
}

thead th, tfoot th{
white-space: nowrap;
}

.tab-bg-dark-navy-blue ul>li>a {
padding: 10px 15px !important;
}

.adv-table{
display: inline-block;
width: 100%;
}

.col-ubah-data{
padding: 5px 0;
border-bottom: 1px solid #eff2f7;
}

.form-control[readonly]{
cursor: default;
}

textarea{
min-height: 60px;
}

.modal-body {
display: inline-block;
width: 100%;
}

#ask-resign{
font-size: 1.4em;
line-height: 1.5em;
margin: 0 0 10px 0;
}

.alert-output{
font-size: 1.4em;
margin: 0 0 10px 0;
display: inline-block;
width: 100%;
}

thead th, tfoot th{
text-align: center;
}

ul.sidebar-menu li ul.sub li  ul.sub li.active a{
background: #141416;
}

.form-horizontal .form-control-static {
font-size: 14px;
}

.input-filter{
max-width: 150px;
font-weight: normal;
margin: 1px 0;
}

.green{
color: #1fb5ad;
}

#panel-tanggal{
}

#panel-tanggal div{
display: block;
float: left;
margin: 0 5px 0 0;
}

.table-no{
}

#ubah-foto-profil{
background-color: rgba(0, 0, 0, 0.6);
color: #fff;
bottom: -35px;
position: absolute;
width: 100%;
left: 0;
height: 35px;
transition: 0.3s;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-o-transition: 0.3s;
-ms-transition: 0.3s;
}

#display-foto-profil:hover #ubah-foto-profil{
bottom: 0px;
}

#display-foto-profil{
width: 135px;
height: 135px;
position: relative;
border-radius: 67.5px;
border: 5px solid #f1f2f7;
background-size: cover;
overflow: hidden;
background-position: center center;
display: block;
margin: 0 auto;
}

#form-upload-foto{
width: 0;
height: 0;
overflow: hidden;
}

.modal-body table{
font-size: 1.3em;
}

.menu-detail-karyawan li a{
font-size: 0.9em;
}

table.custom-table-1 tr td{
padding: 5px 10px;
}

.hidden-link{
display: none;
}

tfoot tr input.form-control{
padding: 5px;
}

.search-nip, .search-nik{
max-width: 75px;
}

#include-exclude-resign input{
margin: 0 5px 0 0px;
position: relative;
top: 2px;
}

#include-exclude-resign .input-overlay{
display: inline-block;
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 1;
}

#include-exclude-resign{
position: relative;
z-index: 2;
}

tfoot tr .filter_column input{
padding: 2px;
font-weight: normal;
margin: 0;
}

body table.display tfoot th{
padding: 2.5px;
}

#tahun-entri{
display: block;
float: left;
width: 140px;
}

#tahun-entri select{
margin: 0;
width: 135px;
}

#div-form-registrasi{
display: inline-block;
width: 100%;
}

.peringatan{
color: #e84c3d;
}

.approve-icon{
background: #468847;
}

.reject-icon{
background: red;
}

.icon{
color: #fff;
font-weight: bold;
border-radius: 8.5px;
width: 17px;
height: 17px;
display: inline-block;
overflow: hidden;
line-height: 18px;
text-align: center;
padding: 0;
font-style: normal;
font-size: 14px;	
}

.help-block{
  margin: 3px 0 0 0;
  font-style: italic;
  color: #B5493B;
}