/* RESETTER */
html, body, *, div * {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
}

a, li, img, .tooltip, .button {
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}

a {
    cursor: pointer;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

input[readonly='readonly'], textarea[readonly='readonly'] {
    border: 1px solid transparent;
    height: auto;
    overflow: hidden;
}

input[type='text'], input[type='email'], input[type='date'], input[type='password'], input[type='number'], textarea, select {
    padding: 5px;
    width: calc(100% - 12px);
    border: 1px solid #cacaca;
}

textarea {
    padding: 5px;
    height: 50px;
    resize: none;
}

sub, sup {
    font-size: 70%;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10.5px;
}

h3, .h3 {
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

/* STYLER */

input[type='file'] {
    width: 65px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
}

html input[type='file']:before {
    content: "Upload";
    margin: 0;
}

*.button, input[type='submit'], input[type='file']:before {
    display: inline-block;
    background-color: #2a80b9;
    padding: 7px 10px;
    color: #fff;
    margin: 3px 0;
    font-style: normal;
    border: 0 none;
    cursor: pointer;
}

*.button:hover, input[type='submit']:hover {
    background-color: #20608A;
    text-decoration: none;
}

*.h4_judul {
    font-weight: normal;
    border: 1px solid #cacaca;
    padding: 5px 5px;
    margin: 2.5px 0 10px 0;
    background-color: #fafafa;
    font-size: 18px;
    text-transform: capitalize;
    color: #474747;
}

#overlay_wait {
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: url(../img/load.gif) no-repeat center center;
}

.table-data {
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
}

.table-data tr:nth-child(odd) {
    background-color: #fafafa;
}

.table-data tr:first-child td {
    background-color: #2a80b9;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 7px;
}

.table-data td {
    border: 1px solid #cacaca;
    padding: 5px;
    vertical-align: middle;
}

table.center {
    width: 100%;
    margin: 0 auto;
}

table.center tr th {
    border-bottom: 1px solid #cacaca;
    color: #474747;
}

table.center tr td {
    padding: 2px 0;
    border-bottom: 1px solid #EBEBEB;
}

table.center tr:last-child td {
    border-bottom: 0 none;
}

td[rel='titik2'] {
    width: 10px;
    text-align: center;
}

#login_button {
    position: fixed;
    top: 0;
    right: 20px;
    margin: 0;
}

.capcay {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    text-align: center;
}

.capcay a {
    background-image: url(../img/bg_capcay.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: default;
}

*[center=''] {
    text-align: center;
}

a[type='add_button'] {
    background-color: #2a80b9;
    color: #fff;
    font-size: 14pt;
    padding: 2px 7px;
}

#loading_home {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;

}

#loading_muter {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#div_text_editor * {
    max-width: 100%;
}

#div_text_editor {
    position: relative;
}

#div_text_editor *.nicEdit-main {
    max-width: calc(100% - 8px);
    min-width: calc(100% - 8px);
}

#div_text_editor *.nicEdit-main img {
    max-width: 80%;
    border: 4px double #E0E0E0;
}

.nicEdit-panel {

}

.div_text_editor > div {
    min-width: 100%;
}

.div_text_editor {
    max-width: 99%;
}

nav li {
    list-style-type: circle;
}

.input {
    position: relative;
}

.tooltip:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: auto;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 225px;
    text-align: center;
    display: none;
    z-index: 1;
}

input:hover ~ .tooltip, textarea:hover ~ .tooltip {
    display: block;
}

html *.input-error {
    background-color: #FFF2F2;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
    border: 1px solid #FF9393;
}

.input-error:focus, .input-error:hover, .input-error:active {
    background-color: #FFF2F2;
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.8);
    border: 1px solid #FF9393;
}

::-webkit-input-placeholder {
    color: #777;
}

:-moz-placeholder { /* Firefox 18- */
    color: #777;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #777;
}

:-ms-input-placeholder {
    color: #777;
}

/* layout */
html {
    background: #E9ECEF;
}

#main {
    display: block;
    margin: 50px auto 0 auto;
    max-width: 100%;
    width: 850px;
    border-radius: 8px;
    overflow: hidden;
}